@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui;

    --color-primary: #111827;
    --color-accent: #2563eb;
    /* Blue-600 */
    --color-accentLight: #1d4ed8;
    /* Blue-700 */
    --color-slateSoft: #64748b;
}